@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

@mixin texts {
  font-size: 2.875rem;
  font-family: 'Ubuntu';
  line-height: 3.7375rem;
}

$color-red: #f23849;
$color-white: #fff;
$color-dark: #000;
$transition: 0.3s ease;
$color-brown: #28282a;

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  width: 100%;
  background-color: $color-dark;
  display: grid;
  justify-items: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  background: $color-dark;
  height: 5.625rem;
}

.header__container {
  max-width: 100%;
  margin: 0 18.75rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav {
  width: 42.0625rem;
  display: flex;
  margin-left: 19.875rem;
  margin-right: 4.375rem;
  justify-content: space-between;
}

.header__link {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: $color-white;
  text-decoration: none;
  font-size: 1.125rem;

  letter-spacing: 4%;
}
.header__link1 {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: $color-red;
  text-decoration: none;
  font-size: 1.125rem;
  letter-spacing: 4%;
}
.header__link:hover {
  color: $color-red;
}

.header__button {
  @include center;
  width: 10rem;
  height: 2.8125rem;
  background: $color-red;
  color: $color-white;
  border-radius: 0.3125rem;
}

.header__button__link {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: $color-white;
  font-size: 1.125rem;
}

.header__button:hover {
  background: $color-red;
}

.hero {
  padding-left: 18.75rem;
  height: 54.375rem;
  width: 120rem;
  display: flex;
  background: url('images/unsplash_KaxVB5xh4Nw.svg') center/cover no-repeat;
  grid-template-areas: 'stack';
}

.hero__overlay {
  grid-area: stack;
}

.hero__container {
  grid-area: stack;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 75rem;
  margin-top: -5.6875rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  width: 56.25rem;
  margin-top: -2.625rem;
  white-space: pre-line;
}

.hero-button {
  width: 12.5rem;
  height: 4.0625rem;
  background: $color-red;
  color: $color-white;
  @include center;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: 0.3s ease;
}
.hero__button:hover {
  background: rgb(231.8537735849, 15.1462264151, 34.9528301887);
}

.hero-button__text {
  font-family: 'Ubuntu', Medium;
  font-size: 1.125rem;
  color: $color-white;
}

.hero__trainers span {
  font-size: 2rem;
  font-weight: bold;
}

.under__hero__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  width: 49.563rem;
  height: 3.375rem;
  color: $color-white;
  letter-spacing: 2%;
  line-height: 150%;
  margin-bottom: 6.0625rem;
}

.hero-text {
  font-family: 'Ubuntu';
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.2;
  color: $color-white;
  margin-bottom: -0.4375rem;
}

.groups {
  width: 21.25rem;
  height: 32.4344rem;
  display: grid;
  align-items: center;
  margin-top: 20.3125rem;
  margin-left: 1.75rem;
}

.red-corner {
  display: flex;
  width: 8.6563rem;
  height: 4.2813rem;
  z-index: 4;
  margin-top: 14.3125rem;
  margin-left: -29.125rem;
}

.red-corner::before {
  content: '';
  display: flex;
  background-color: $color-red;
  border-radius: 0.625rem;
  width: 8.656rem;
  height: 0.125rem;
}

.red-corner::after {
  content: '';
  display: flex;
  background-color: $color-red;
  border-radius: 0.625rem;
  width: 0.125rem;
  height: 4.281rem;
}

.red-stick {
  width: 0.19rem;
  height: 6.2rem;
  background-color: #f23849;
  z-index: 4;
  border-radius: 0.625rem;
  margin-top: -21rem;
}

.scroll_circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100rem;
  background: rgba(255, 255, 255, 0.15);
  border: 0.063rem solid rgba(255, 255, 255, 0.25);
}

.scroll_circle2 {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100rem;
  background: rgba(255, 255, 255, 0.15);
  border: 0.063rem solid rgba(255, 255, 255, 0.25);
}

.scroll_circle_big {
  @include center;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 100rem;
  background: rgba(255, 255, 255, 0.15);
  border: 0.063rem solid rgba(255, 255, 255, 0.25);
}

.scroll_circle_small {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100rem;
  background: $color-red;
}

.scroll-circles {
  display: grid;
  width: 1.625rem;
  height: 5rem;
  margin-top: 17.5rem;
  margin-right: 5.125rem;
  margin-left: -6.9375rem;
  justify-items: center;
  align-content: space-between;
}

.person_card {
  display: flex;
  grid-area: stack;
  margin-top: -51.25rem;
  margin-left: 15.625rem;
  width: 9.875rem;
  height: 10.938rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 5;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.circle_avatar {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 8rem;
  background-color: None;
  margin-top: 1.156rem;
}

.card_text1 {
  font-family: 'Poppins';
  font-size: 0.875rem;
  font-weight: 400;
  color: #161617;
  margin-top: 1.344rem;
}

.card_text2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  color: $color-white;
}

.person-card2__group {
  display: flex;
  margin-right: 1.1538rem;
  width: 6.9375rem;
  height: 4rem;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.person__card2 {
  grid-area: stack;
  display: flex;
  width: 19.063rem;
  height: 5.809rem;
  margin-top: -3.3125rem;
  margin-left: 4.25rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.35);
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ppl_group {
  display: grid;
  width: 7.127rem;
  height: 2.764rem;
  justify-content: start;
  margin-left: 1.6856rem;
}

.ppl1 {
  display: flex;
  grid-area: stack;
  width: 2.764rem;
  height: 2.764rem;
}

.ppl2 {
  display: flex;
  grid-area: stack;
  margin-left: 1.0906rem;
  width: 2.764rem;
  height: 2.764rem;
}

.ppl3 {
  display: flex;
  grid-area: stack;
  margin-left: 2.1819rem;
  width: 2.764rem;
  height: 2.764rem;
}

.ppl4 {
  display: flex;
  grid-area: stack;
  margin-left: 3.2725rem;
  width: 2.764rem;
  height: 2.764rem;
}

.ppl5 {
  width: 2.764rem;
  height: 2.764rem;
  display: flex;
  grid-area: stack;
  margin-left: 4.5019rem;
}

.ppl5::before {
  content: '';
  width: 50%;
  height: 50%;
  background-color: rgba(242, 56, 73, 0.9);
  z-index: 1;
  border-radius: 100rem;
}

.number_ppl5 {
  position: absolute;
  font-family: 'Ubuntu', Bold;
  font-size: 0.728rem;
  top: 0.982rem;
  left: 0.546rem;
  z-index: 2;
  color: $color-white;
}

.num {
  color: $color-white;
  font-family: 'Ubuntu';
  font-weight: 700;
  width: 5.375rem;
  height: 2.125rem;
  font-size: 1.875rem;
}

.stars {
  margin-top: 0.215rem;
}

.red-circle {
  width: 2.764rem;
  height: 2.764rem;
}

.total {
  font-family: 'Ubuntu', Regular;
  font-size: 0.875rem;
  color: $color-white;
}

.learn_more_button {
  position: absolute;
  height: 4.063rem;
  width: 12.5rem;
  background-color: $color-red;
  border-radius: 0.313rem;
  align-content: center;
  justify-items: center;
  left: 0;
  bottom: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn_more_button:hover {
  background-color: #d12e3f;
}

.learn_more {
  font-family: 'Ubuntu', Medium;
  font-size: 1.125rem;
  color: $color-white;
}

.warp2 {
  height: 27.3125rem;
  width: 120rem;
  background-image: url(images/Group\ 1000003184.svg);
  background-repeat: no-repeat;
  @include center;
  background-position: 4.1875rem 1.3125rem;
  background-color: #222224;
}

.warp2-text__container {
  margin-top: 0.625rem;
  display: flex;
  padding: 5.25rem 18.6875rem 6.25rem 18.5rem;
}

.warp2-text__block {
  display: flex;
  padding-right: 2.8125rem;
  gap: 2.9375rem;
  padding-top: 1.125rem;
}

.warp2-text__glav {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warp2-text__img {
  width: 3.75rem;
  padding-bottom: 1.875rem;
}

.prog {
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-family: 'Ubuntu';
}
.warp2-text__small {
  font-size: 1rem;
  font-family: 'Ubuntu';
  line-height: 150%;
}

.push__your {
  padding: 1.5625rem 0 1.25rem 0;
  color: #fff;
  padding-left: 1.3125rem;
  border-left: solid #3d3d40 0.0625rem;
}

.zag__push {
  padding-bottom: 1.25rem;
}

.push {
  line-height: 136%;
  font-size: 2.875rem;
  font-family: 'Ubuntu';
}
.push__text {
  font-family: 'Ubuntu';
  line-height: 150%;
  font-size: 1.125rem;
}

.warp3 {
  background-image: url(images/Group\ 1000003205\ \(1\).svg);
  width: 120rem;
  background-color: $color-brown;
  background-repeat: no-repeat;
  background-position: center;
  @include center;
}

.warp3-all {
  display: flex;
  padding: 7.9375rem 14.6875rem 9.125rem 18.75rem;
  justify-content: space-between;
}

.warp3-left {
  display: grid;
}
.warp3-text__text {
  color: #fff;
  height: 21rem;
}

.warp3-text__top {
  margin-bottom: 1.25rem;
}
.we-are {
  @include texts;
}

.we-are__small {
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  line-height: 1.875rem;
}
.report {
  width: 32.6875rem;
  height: 16.1875rem;
  border: 0.0625rem solid;
  border-image: linear-gradient(to bottom, #f23849, $color-brown) 1;
  display: grid;
  justify-content: center;
  margin-top: 4.5rem;
}
.report_small {
  display: grid;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 1.125rem;
  color: #f23849;
  justify-items: center;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.percent {
  width: 25.1875rem;
  height: 16.1875rem;
}

.glav {
  display: flex;
  gap: 2.5625rem;
  align-items: flex-end;
  margin-top: 0.25rem;
}

.percent__text {
  @include center-grid;
  justify-items: center;
}

.percent1 {
  border-radius: 0.3125rem 0.3125rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
  width: 4.375rem;
  height: 7.5625rem;
  background-color: rgba(141, 185, 140, 0.2);
}
.month {
  font-size: 1rem;
  font-family: 'Ubuntu', Regular;
  color: #969696;
  margin-top: 0.8875rem;
}
.percent2 {
  border-radius: 0.3125rem 0.3125rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 10.125rem;
  background-color: rgba(110, 98, 215, 0.2);
}
.percent3 {
  border-radius: 0.3125rem 0.3125rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
  width: 4.375rem;
  height: 8.3125rem;
  background-color: rgba(190, 111, 239, 0.2);
}

.percent4 {
  border-radius: 0.3125rem 0.3125rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
  width: 4.375rem;
  height: 9.0625rem;
  background-color: rgba(243, 155, 69, 0.2);
}

.warp3-img {
  width: 45.4375rem;
  height: 41.25rem;
  margin-left: 8.4375rem;
  display: grid;
}

.warp3-info-block__img {
  margin-left: 3.9375rem;
  width: 41.5rem;
  height: 41.25rem;
  grid-area: none;
}

.warp3-info__block1 {
  margin-top: 13.6875rem;
  grid-area: none;
  padding-left: 0.9375rem;
  display: flex;
  align-items: center;
  border-radius: 0.625rem;
  width: 15rem;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.warp3-info__block2 {
  padding-left: 0.9375rem;
  margin-left: 14.875rem;
  margin-top: 34.4375rem;
  grid-area: none;
  display: flex;
  align-items: center;
  border-radius: 0.625rem;
  width: 15rem;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.warp3-info__block3 {
  padding-left: 0.9375rem;
  margin-left: 30.4375rem;
  margin-top: 4.1875rem;
  grid-area: none;
  display: flex;
  align-items: center;
  border-radius: 0.625rem;
  width: 15rem;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.warp3-infotext__block {
  margin-left: 0.375rem;
  display: grid;
  width: 8.9375rem;
  height: 2.625rem;
  margin-bottom: 0.125rem;
}

.warp3-infotext__big {
  font-size: 1.125rem;
  font-family: 'Ubuntu';
  color: $color-brown;
  line-height: 150%;
}

.warp3-infotext__small {
  width: 8.75rem;
  font-size: 0.625rem;
  font-family: 'Ubuntu';
  color: $color-brown;
  line-height: 150%;
}

.ph {
  margin-left: 0.25rem;
}

.percent1__text {
  margin-bottom: 0.25rem;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
}
.percent2__text {
  margin-top: -0.0625rem;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
}
.percent3__text {
  margin-bottom: -0.1875rem;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
}
.percent4__text {
  margin-bottom: 0.375rem;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: #ffffff;
}

.warp4 {
  background-image: url(images/Group\ 1000003205.svg);
  width: 120rem;
  height: 31.25rem;
  background-color: #222224;
  @include center;
}

.are-you__block {
  width: 25rem;
  height: 19.5625rem;
  background-color: $color-red;
  border-radius: 0.625rem;
  display: grid;
  color: $color-white;
  justify-items: center;
  align-content: center;
  margin-right: 8.25rem;
  padding-bottom: 1.25rem;
}

.are-you__text {
  @include texts;
}
.are-you {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.are-you__button {
  width: 10rem;
  height: 3.4375rem;
  background-color: $color-white;
  color: $color-red;
  display: flex;
  border-radius: 0.625rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.25rem;
}

.problems {
  width: 49.375rem;
  height: 15.3125rem;
  display: flex;
  row-gap: 4.0625rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.problem-block1 {
  justify-content: space-between;
  align-items: center;
  width: 12.4375rem;
  height: 5.625rem;
  margin-right: 5.0625rem;
  display: flex;
}

.problem-block2 {
  justify-content: space-between;
  align-items: center;
  width: 11.9375rem;
  height: 5.625rem;
  margin-right: 5.0625rem;
  display: flex;
}

.problem-block3 {
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  margin-right: 5.0625rem;
  display: flex;
  margin-left: 0.5rem;
  width: 13.4rem;
}

.problem-block4 {
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  height: 5.625rem;
  margin-right: 5.0625rem;
  display: flex;
}

.problem-block5 {
  justify-content: space-between;
  align-items: center;
  width: 13.0625rem;
  height: 5.625rem;
  margin-right: 4.9375rem;
  display: flex;
}

.problem-block6 {
  justify-content: space-between;
  align-items: center;
  width: 13.4625rem;
  height: 5.625rem;
  margin-right: 5.0625rem;
  display: flex;
}

.problrm-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161617;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.5rem 1.25rem 0.5rem 0.5rem;
}
.problrm-img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161617;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.5rem 1.25rem 0.5rem 0.5rem;
}

.problem-text {
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  color: $color-white;
  padding-top: 0.125rem;
}

.problem-text2 {
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  color: $color-white;
  width: 6.1875rem;
}

.are-you-button__text {
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 500;
}

.warp5 {
  background-image: url(images/Rectangle\ 203.svg);
  width: 120rem;
  height: 40.625rem;
  background-color: $color-brown;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  column-gap: 18.8125rem;
  justify-content: end;
  padding-right: 18.6875rem;
  padding-top: 15.75rem;
}

.warp5-button {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
  border: 0.0625rem solid rgba(196, 196, 196, 0.06);
  @include center;
  grid-area: none;
  grid-column: 1;
}

.warp5-button__middle {
  width: 7.125rem;
  height: 7.125rem;
  border: 0.0625rem solid rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  @include center;
}

.warp5-button__center {
  width: 5.625rem;
  height: 5.625rem;
  background-color: $color-white;
  border-radius: 50%;
  @include center;
}

.play__img {
  margin-left: 0.25rem;
}

.warp5-next {
  width: 17.8125rem;
  height: 4.0625rem;
  display: flex;
  grid-area: none;
  grid-column: 2;
  margin-top: 17.9375rem;
}

.warp5-next__word {
  width: 13.4375rem;
  height: 4.0625rem;
  background-color: #222224;
  display: grid;
  justify-content: center;
  align-content: center;
}

.warp5-next__text {
  font-size: 1.125rem;
  font-family: 'Ubuntu';
  color: $color-white;
  padding-right: 0.375rem;
}

.warp5-next__button {
  background-color: $color-red;
  width: 4.375rem;
  height: 4.0625rem;
  border-radius: 0 0.9375rem 0 0;
  @include center;
}

.warp6 {
  width: 120rem;
  height: 65.5625rem;
  background-image: url(images/Group\ 1000003205\ \(2\).svg);
  display: flex;
  padding: 11.6875rem 7.625rem 8.125rem 18.75rem;
  margin-top: -3.5625rem;
}

.warp6-all {
  display: flex;
}

.warp6-left {
  width: 35.625rem;
  height: 35.625rem;
  display: grid;
  margin-right: 5.625rem;
  margin-top: 5.0625rem;
}

.why-choose__text {
  width: 29.1875rem;
  height: 10.625rem;
  display: grid;
  margin-bottom: 0.9375rem;
}

.why-choose__big {
  font-size: 2.875rem;
  font-family: 'Ubuntu';
  color: $color-white;
  line-height: 3.7375rem;
  margin-bottom: 1.25rem;
}

.why-choose__small {
  color: $color-white;
  font-size: 1.125rem;
  font-family: 'Ubuntu';
  line-height: 1.875rem;
}

.why-text__block {
  width: 35.625rem;
  height: 21.875rem;
  row-gap: 3.4375rem;
  display: grid;
  margin-top: 1.875rem;
}

.why-choose__block {
  width: 35.625rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.why-text__big {
  color: $color-white;
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  margin-bottom: 0.625rem;
}

.why-text__small {
  font-family: 'Ubuntu';
  color: #969696;
  font-size: 1rem;
  line-height: 1.3rem;
}

.why-choose__block img {
  width: 5rem;
  height: 5rem;
}

.warp6-right {
  width: 42.4375rem;
  height: 45.75rem;
  display: grid;
  align-content: start;
  justify-content: start;
}

.right__img1 {
  width: 21.875rem;
  height: 23.125rem;
  grid-area: None;
}
.right__img2 {
  width: 21.875rem;
  height: 23.125rem;
  grid-area: None;
  margin-left: 19.4375rem;
  margin-top: 3.6875rem;
}
.right__img3 {
  width: 21.875rem;
  height: 23.125rem;
  grid-area: None;
  margin-top: 17.75rem;
  margin-left: -1.125rem;
}
.right__img4 {
  width: 21.875rem;
  height: 23.125rem;
  grid-area: None;
  margin-left: 18.5rem;
  margin-top: 22.625rem;
}
.arrows {
  display: flex;
  gap: 2.5rem;
  grid-area: none;
  margin-left: 2.125rem;
  margin-bottom: 0.375rem;
  align-items: flex-end;
}

.eye {
  background: $color-red;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  grid-area: none;
  margin-left: 28.1875rem;
  margin-top: 32.6875rem;
  @include center;
}

.right-arrow {
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.8125rem;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.25rem;
}

.left-arrow {
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.8125rem;
  background-color: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warp7 {
  width: 120rem;
  height: 68.125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8.125rem 18.6875rem 8.125rem 18.75rem;
  justify-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/Group\ 1000003205\ \(4\).svg);
}

.warp7-text {
  width: 36.6875rem;
  height: 16.75rem;
  display: grid;
  justify-items: center;
  align-content: center;
}

.punch {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: 'Work Sans';
  color: $color-white;
}

.punch__small {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-family: 'Ubuntu';
  color: $color-white;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.switch-menu {
  width: 18.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: 4.625rem;
  margin-top: 2.25rem;
}

.price-switch {
  font-size: 1rem;
  font-family: 'Ubuntu';
  color: $color-white;
}

.switch {
  display: inline-grid;
  width: 5rem;
  height: 2.5rem;
  background-color: #09c677;
  border-radius: 4.375rem;
  align-items: center;
  cursor: pointer;
  padding-left: 2.6875rem;
  margin-right: 0.6875rem;
  margin-left: 0.625rem;
}

.switch input {
  display: none;
}

.slider {
  width: 1.875rem;
  height: 1.875rem;
  background-color: white;
  border-radius: 50%;
  grid-column: 1;
}

.sell {
  width: 4.375rem;
  height: 1.875rem;
  border-radius: 0.3125rem;
  background-color: #343436;
  margin-left: 1.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-text {
  font-size: 0.75rem;
  color: #ffe24c;
  font-family: 'Ubuntu';
}

.price-card__left {
  width: 52.3125rem;
  height: 32rem;
  border-radius: 1.5rem;
  background-color: #343436;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5625rem;
}

.stand__card {
  width: 10rem;
  height: 27rem;
  display: grid;
  justify-items: center;
  align-content: start;
  margin-left: 6.5625rem;
}

.standart {
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  color: $color-white;
  margin-top: 2.6875rem;
  margin-bottom: 1.4375rem;
}

.dolar {
  font-size: 4.5rem;
  font-family: 'Ubuntu';
  color: $color-white;
}

.funct__no {
  font-family: 'Ubuntu';
  font-size: 1rem;
  line-height: 1.125rem;
  text-decoration-line: line-through;
  color: #616161;
  margin-top: 0.3125rem;
  margin-bottom: 0.8125rem;
}

.funct {
  font-family: 'Ubuntu';
  font-size: 1rem;
  line-height: 2rem;
  color: #969696;
}

.stand__button {
  width: 10rem;
  height: 3.4375rem;
  background: #222224;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.75rem;
}

.stand__button2 {
  width: 10rem;
  height: 3.4375rem;
  background: #222224;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.6875rem;
}

.details {
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #ffffff;
}

.prem__card {
  width: 11.75rem;
  height: 26.9375rem;
  display: grid;
  justify-items: center;
  align-content: start;
  margin-right: 6.5rem;
}

.price-card__right {
  width: 27rem;
  height: 32rem;
  border-radius: 1.5rem;
  background-color: $color-red;
  display: flex;
  justify-content: center;
  margin-top: 1.5625rem;
}

.expert__card {
  width: 13.625rem;
  height: 26.9375rem;
  display: grid;
  justify-items: center;
  align-content: start;
}

.standart2 {
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  color: #e5e5e5;
  margin-top: 2.6875rem;
  margin-bottom: 1.4375rem;
}

.funct__no2 {
  font-family: 'Ubuntu';
  font-size: 1rem;
  text-decoration-line: line-through;
  color: #222224;
  margin-top: 0.4375rem;
  margin-bottom: 0.6875rem;
}

.funct2 {
  font-family: 'Ubuntu';
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.0125rem;
  color: #e5e5e5;
}

.stand__button3 {
  width: 10rem;
  height: 3.4375rem;
  background: $color-white;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.625rem;
}

.details2 {
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: $color-red;
}
.price-cards {
  width: 82.5625rem;
  height: 32rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.price-stick {
  width: 0.06rem;
  margin-top: 4.3125rem;
  height: 21.75rem;
  background-color: #3d3d40;
}

.warp8 {
  background-color: $color-brown;
  width: 120rem;
  height: 67.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 19.375rem 11.25rem 19.375rem;
  justify-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/Group\ 1000003205\ \(5\).svg);
}

.our__text {
  width: 29.1875rem;
  height: 7.125rem;
  display: grid;
  margin-left: -0.9375rem;
  margin-bottom: 3.125rem;
}

.experts-stack {
  width: 81.25rem;
  height: 41.8125rem;
  display: flex;
  align-items: flex-end;
  margin-left: -1.125rem;
  gap: 3.1875rem;
}

.expert-first {
  width: 25rem;
  height: 40.6875rem;
  display: grid;
  align-items: end;
}

.first__img {
  width: 19.5625rem;
  height: 32.6875rem;
  margin-top: -14.5625rem;
}

.expert-bg {
  margin-bottom: 1.625rem;
  width: 25rem;
  height: 24.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.9375rem 6.25rem 0.9375rem 0.9375rem;
  grid-area: none;
  display: grid;
  justify-items: center;
}

.expert-bottom {
  border-radius: 0 0 0.9375rem 0.9375rem;
  width: 25rem;
  height: 8rem;
  background-color: $color-white;
  display: flex;
  grid-area: none;
  justify-content: space-between;
  align-items: center;
}

.expert-name__text {
  display: grid;
  align-content: center;
  margin-left: 1.25rem;
  row-gap: 0.25rem;
  margin-bottom: 0.125rem;
}

.expert-name {
  color: $color-red;
  font-family: 'Ubuntu';
  font-size: 1.5rem;
}

.expert-prof {
  color: $color-red;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin-left: 0.1875rem;
}

.expert-medal {
  width: 3.75rem;
  height: 3.75rem;
  border: 0.0625rem solid $color-red;
  border-radius: 0.5rem 1.25rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
  justify-content: center;
}

.expert-mid {
  width: 25rem;
  height: 41.8125rem;
  display: grid;
  align-items: end;
}

.mid__img {
  width: 23.3125rem;
  height: 33.8125rem;
  margin-top: -15.75rem;
}

.expert-bg2 {
  margin-bottom: 1.625rem;
  width: 25rem;
  height: 24.5rem;
  background-color: rgba(242, 56, 73, 0.1);
  border-radius: 0.9375rem 6.25rem 0.9375rem 0.9375rem;
  grid-area: none;
  display: flex;
  justify-content: center;
}

.expert-bottom2 {
  border-radius: 0 0 0.9375rem 0.9375rem;
  width: 25rem;
  height: 8rem;
  background-color: $color-red;
  display: flex;
  grid-area: none;
  justify-content: space-between;
  align-items: center;
}

.expert-name__text2 {
  display: grid;
  margin-left: 1.875rem;
  margin-bottom: 0.1875rem;
}

.expert-name2 {
  color: $color-white;
  font-family: 'Ubuntu';
  font-size: 1.5rem;
}

.expert-prof2 {
  color: $color-white;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin-left: 0.1875rem;
}

.expert-medal2 {
  width: 3.75rem;
  height: 3.75rem;
  border: 0.0625rem solid $color-red;
  border-radius: 0.5rem 1.25rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: $color-white;
  margin-right: 1.25rem;
  justify-content: center;
}

.expert-last {
  width: 25rem;
  height: 41.8125rem;
  display: grid;
  align-items: end;
}
.last__img {
  width: 24.75rem;
  height: 33.8125rem;
  margin-top: -15.75rem;
}

.expert-prof3 {
  color: $color-red;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.warp8-message {
  width: 3rem;
  height: 10.125rem;

  display: grid;
  margin-bottom: 30.5625rem;
  margin-left: 21.5625rem;
  align-items: center;
  align-content: space-between;
  grid-area: none;
}

.message-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.0991);
  @include center;
}

.warp9 {
  width: 120rem;
  height: 51.4375rem;
  display: flex;
  padding: 20.875rem 18.5625rem 6.4375rem 18.75rem;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  background-image: url(images/Group\ 1000003206\ \(2\).svg);
}

.warp9__left {
  width: 29rem;
  height: 24.125rem;
  display: grid;
}

.warp9-text__small {
  width: 29rem;
  height: 7.5rem;
  display: grid;
}

.warp9-small__text {
  font-size: 1rem;
  font-family: 'Ubuntu';
  color: $color-white;
  line-height: 1.875rem;
}

.warp9-name {
  margin-top: 1.875rem;
  color: $color-red;
  font-size: 1.5rem;
  font-family: 'Ubuntu';
}

.warp9-message {
  width: 10rem;
  height: 3rem;
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.warp9-arrows {
  width: 12.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.warp9-arrow__left {
  width: 5rem;
  height: 2.5rem;
  background-color: $color-brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8125rem;
  margin-left: 0.125rem;
}

.warp9-arrow__right {
  width: 5rem;
  height: 2.5rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8125rem;
  margin-right: -0.125rem;
}

.warp9__right {
  width: 44.125rem;
  height: 20rem;
  display: grid;
  justify-content: start;
  align-content: start;
  margin-top: 1.5625rem;
}

.warp9-right__circle1 {
  margin-top: 6.3125rem;
  grid-area: none;
  width: 5rem;
  height: 5rem;
  opacity: 30%;
  border-radius: 50%;
  background-image: url(images/unsplash_MmrSaEJZs4s\ \(3\).svg);
}

.warp9-right__circle2 {
  margin-top: 14rem;
  margin-left: 4.6875rem;
  grid-area: none;
  background-image: url(images/unsplash_fG0p4Qh_aWI.svg);
  width: 6rem;
  height: 6rem;
  opacity: 70%;
  border-radius: 50%;
}

.warp9-right__circle3 {
  grid-area: none;
  background-image: url(images/unsplash_iUzgePOoGko.svg);
  border-radius: 50%;
  width: 4.375rem;
  height: 4.375rem;
  opacity: 50%;
  margin-left: 8.1875rem;
}

.warp9-right__circle4 {
  margin-left: 14.9375rem;
  margin-top: 3.0625rem;
  background-image: url(images/unsplash_Z72YujnOrlY.svg);
  border-radius: 50%;
  width: 11.3125rem;
  height: 11.3125rem;
  border: 0.25rem solid $color-red;
  grid-area: none;
}
.warp9-right__circle5 {
  margin-left: 28.625rem;
  margin-top: 14.375rem;

  background-image: url(images/unsplash_eot-ka5dM7Q.svg);
  border-radius: 50%;
  width: 5.625rem;
  height: 5.625rem;
  opacity: 30%;
  grid-area: none;
}
.warp9-right__circle6 {
  background-image: url(images/unsplash_qkQwDvRqQY8.svg);
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  opacity: 80%;
  grid-area: none;
  margin-left: 29.375rem;
  margin-top: 0.9375rem;
}

.warp9-right__circle7 {
  grid-area: none;
  background-image: url(images/unsplash_FGP9ifRTQaI.svg);
  border-radius: 50%;
  width: 5.125rem;
  height: 5.125rem;
  opacity: 40%;
  margin-left: 39rem;
  margin-top: 6.6875rem;
}

.warp10 {
  background-color: $color-brown;
  width: 120rem;
  height: 14.375rem;
  display: flex;
  padding: 1.5625rem 21.125rem 1.5625rem 18.75rem;
  align-items: center;
}

.warp10__info1 {
  width: 16.4375rem;
  height: 4.375rem;
  display: flex;
  margin-right: 7.6875rem;
  justify-content: space-between;
}

.warp10__info1 img {
  width: 4.0756rem;
  height: 4.375rem;
}

.warp10__info2 {
  width: 16.1875rem;
  height: 4.375rem;
  display: flex;
  margin-left: 7.75rem;
  margin-right: 8.75rem;
  justify-content: space-between;
}

.warp10__info2 img {
  width: 5.1044rem;
  height: 4.375rem;
}

.warp10__info3 {
  width: 16.5rem;
  height: 4.375rem;
  display: flex;
  margin-left: 6.8125rem;
  justify-content: space-between;
}

.warp10__info3 img {
  width: 4.8125rem;
  height: 4.375rem;
}

.warp10-text {
  display: grid;
  align-content: space-evenly;
  margin-top: -0.3125rem;
  margin-bottom: 0.125rem;
}

.warp10-bold {
  font-size: 1.25rem;
  font-family: 'Ubuntu';
  color: $color-white;
}

.warp10-small {
  font-size: 0.875rem;
  font-family: 'Ubuntu';
  color: $color-white;
}

.warp10-stick1 {
  width: 0.0625rem;
  height: 11.25rem;
  background-color: #3d3d40;
}

.warp10-stick2 {
  width: 0.0625rem;
  height: 11.25rem;
  background-color: #3d3d40;
}

.warp11 {
  background-image: url(images/Group\ 1000003206\ \(3\).svg);
  width: 120rem;
  height: 32.5rem;
  background-color: #222224;
  @include center;
}

.warp11-all {
  width: 49.5625rem;
  height: 17.875rem;
  display: grid;
}

.warp11-text {
  width: 49.5625rem;
  height: 10.875rem;
  display: grid;
  justify-items: center;
}

.warp11-text__big {
  font-family: 'Work Sans';
  font-size: 3.5rem;
  line-height: 4rem;
  color: $color-white;
  margin-bottom: 1.25rem;
  margin-top: 0.1875rem;
}

.warp11-text__small {
  line-height: 1.875rem;
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  color: $color-white;
}

.warp11-email {
  width: 26.875rem;
  height: 3.75rem;
  margin-left: 11.3125rem;
  margin-top: 3.375rem;
  display: flex;
  background-color: #28282a;
  border-radius: 0.3125rem;
  justify-content: space-between;
  align-items: center;
}
/*.warp11-email__text {
  width: 22.5rem;
  height: 3.75rem;
  background-color: #28282a;
  border-radius: .3125rem;
}*/

.enter-email {
  font-size: 1rem;
  font-family: 'Ubuntu';
  color: #969696;
  margin-left: 1.25rem;
}

.email__button {
  width: 5rem;
  height: 3.75rem;
  background-color: $color-red;
  border-radius: 0.3125rem;
  @include center;
}

.warp12 {
  background-image: url(images/Group\ 1000003207.svg);
  width: 120rem;
  height: 32.5rem;
  background-color: #222224;
  display: flex;
  padding: 5.5625rem 18.75rem 6.9375rem 18.6875rem;
}

.warp12-first {
  width: 17.9375rem;
  height: 23.4375rem;
  display: grid;
}

.warp12-first__text {
  margin-top: 1rem;
  margin-bottom: 3.0625rem;
}

.warp12-text__small {
  font-family: 'Ubuntu';
  font-size: 1rem;
  line-height: 1.875rem;
  color: $color-white;
}

.warp12-first__social {
  width: 13.4375rem;
  height: 10.3125rem;
  display: grid;
  align-content: space-between;
}

.phone {
  width: 9.9375rem;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small__img {
  width: 1.25rem;
  height: 1.5625rem;
}

.phone-number {
  font-size: 1rem;
  font-family: 'Ubuntu';
  line-height: 1.3rem;
  color: #969696;
}

.mail {
  width: 13.375rem;
  height: 1.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail img {
  width: 1.5625rem;
  height: 1.25rem;
}

.location {
  width: 11.625rem;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.125rem;
}

.warp12-second {
  width: 9.75rem;
  height: 22.0625rem;
  display: grid;
  margin-left: 8.75rem;
  margin-right: 8.1875rem;
  margin-top: 0.9375rem;
}

.warp12-our__big {
  font-size: 1.375rem;
  font-weight: 500;
  font-family: 'Ubuntu';
  color: $color-white;
  line-height: 1.875rem;
  margin-bottom: 0.625rem;
}

.warp12-out__small {
  font-family: 'Ubuntu';
  font-size: 1rem;
  color: $color-white;
  line-height: 2.75rem;
}

.warp12-third {
  width: 6.5625rem;
  height: 19.3125rem;
  color: $color-white;
  display: grid;
  margin-right: 11.375rem;
  margin-top: 0.9375rem;
}

.corp-big {
  font-weight: 500;
  margin-bottom: 0.625rem;
  line-height: 1.875rem;
  font-size: 1.375rem;
  font-family: 'Ubuntu';
}

.corp {
  font-family: 'Ubuntu';
  font-size: 1rem;
  line-height: 2.75rem;
}

.warp12-last {
  width: 20rem;
  height: 21.0625rem;
  display: grid;
  margin-top: 0.9375rem;
}

.warp12-last__top {
  width: 20rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.9375rem;
}

.opening {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: $color-white;
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 0%;
}

.sunday {
  width: 7.0625rem;
  height: 1.3125rem;
  background-color: $color-red;
  display: flex;
  border-radius: 1.6875rem;
  align-items: center;
  justify-content: center;
}

.sunday-text {
  font-family: 'Ubuntu';
  color: $color-white;
  font-size: 0.75rem;
}

.clock-img {
  width: 15.75rem;
  height: 0.75rem;
  display: grid;
  row-gap: 1.4688rem;
}

.phone-all {
  width: 7.0625rem;
  height: 2.625rem;
  display: grid;
}

.small__img1 {
  width: 1.625rem;
  height: 1.875rem;
}

.addres-all {
  width: 8.9375rem;
  height: 2.625rem;
  display: grid;
}

.palka2 {
  background-color: #3d3d40;
  width: 20rem;
  height: 0.0625rem;
  margin-left: -0.3125rem;
}

.clock-text {
  display: grid;
  width: 18.375rem;
  height: 18.75rem;
  margin-top: -2.1875rem;
  margin-left: 1.5rem;
}

.clock-text__a {
  line-height: 3.75rem;
  display: flex;
  justify-content: space-between;
  padding-right: 0.625rem;
}

.time {
  font-family: 'Ubuntu';
  color: $color-white;
}

.time1 {
  font-family: 'Ubuntu';
  color: $color-white;
  margin-right: 0.125rem;
}

.time3 {
  font-family: 'Ubuntu';
  color: $color-white;
  margin-left: 0.1875rem;
}

.footer {
  width: 120rem;
  height: 3.125rem;
  display: flex;
  background-color: #161617;
  padding: 0.9375rem 18.6875rem 0.9375rem 18.75rem;
}

.footer-all {
  width: 82.5rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: #777e90;
  font-family: 'Poppins';
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.footer-msg {
  width: 12.25rem;
  height: 1.25rem;
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
