@mixin container {
  width: 100%;
  padding-left: 18.75rem;
}

@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}

$color-red: #F23849;
$color-white: #fff;
$color-dark: #000;
$transition: 0.3s ease;

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header {
    background: $color-dark;
    height: 90px;
}

.header__container {
    max-width: 100%;
    margin: 0 18.75rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__nav {
    width: 42.0625rem;
    display: flex;
    margin-left: 19.875rem;
    margin-right: 4.375rem;
    justify-content: space-between;
}

.header__link {
    font-family: "Ubuntu";
    font-weight: 500;
    color: $color-white;
    text-decoration: none;
    font-size: 18px;

    letter-spacing: 4%;
}
.header__link1 {
    font-family: "Ubuntu";
    font-weight: 500;
    color: $color-red;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4%;
}
.header__link:hover {
    color: $color-red;
}

.header__button {
    @include center;
    width: 160px;
    height: 45px;
    background: $color-red;
    color: $color-white;
    border-radius: 5px;
}

.header__button__link{
    font-family: "Ubuntu";
    font-weight: 500;
    color: $color-white;
    font-size: 18px;
}

.header__button:hover {
    background: $color-red;
}

.hero {
  height: 54.375rem;
  @include container;
  display: grid;
  background: url("images/unsplash_KaxVB5xh4Nw.svg") center/cover no-repeat;
  grid-template-areas: "stack";
}

.hero__overlay {
  grid-area: stack;
}

.hero__container {
  grid-area: stack;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 75rem;
    padding-top: 0.45rem;
}

.hero__content {
  display: flex;
    flex-direction: column;
    width: 56.25rem;
    margin-top: 149px;
}



.hero-button {
  width: 12.5rem;
  height: 4.0625rem;
  background: $color-red;
  color: $color-white;
  @include center;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: 0.3s ease;
}
.hero__button:hover {
  background: rgb(231.8537735849, 15.1462264151, 34.9528301887);
}

.hero-button__text{
  font-family: "Ubuntu", Medium;
  font-size: 1.125rem;
  color: $color-white;
}




.hero__trainers span {
  font-size: 2rem;
  font-weight: bold;
}



.under__hero__text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    width: 49.563rem;
    height: 3.375rem;
    color: $color-white;
    letter-spacing: 2%;
    line-height: 150%;
    padding-top: 1.25rem;
    margin-bottom: 5.625rem;
}

.hero-text {
    font-family: 'Ubuntu';
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.2;
    color: $color-white;
    white-space: pre;
}

.red-corner {
    display: flex;
    width: 138.5px;
    height: 68.5px;
    z-index: 4;
    margin-bottom: 160px;
    margin-left: -166px;
}


.red-corner::before {
    content: '';
    display: flex;
    background-color: $color-red;
    border-radius: 0.625rem;
    width: 8.656rem;
    height: 0.125rem;
}


.red-corner::after {
    content: '';
    display: flex;
    background-color: $color-red;
    border-radius: 0.625rem;
    width: 0.125rem;
    height: 4.281rem;
}

.red-stick {
    width: 0.19rem;
    height: 6.2rem;
    background-color: #F23849;
    z-index: 4;
    border-radius: 10px;
    margin-left: 1415px;
    margin-top: -305px;
}

.scroll_circle {

    width: 0.75rem;
    height: 0.75rem;
    left: 12.438rem;
    top: 22.625rem;
    border-radius: 100rem;
    background: rgba(255, 255, 255, 0.15);
    border: 0.063rem solid rgba(255, 255, 255, 0.25);
}

.scroll_circle2 {

    width: 0.75rem;
    height: 0.75rem;
    left: 12.438rem;
    top: 26.875rem;
    border-radius: 100rem;
    background: rgba(255, 255, 255, 0.15);
    border: 0.063rem solid rgba(255, 255, 255, 0.25);
}

.scroll_circle_big {
    @include center;
    width: 1.625rem;
    height: 1.625rem;
    left: 12rem;
    top: 24.313rem;
    border-radius: 100rem;
    background: rgba(255, 255, 255, 0.15);
    border: 0.063rem solid rgba(255, 255, 255, 0.25);
}

.scroll_circle_small {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100rem;
    background: $color-red;
}

.scroll-circles{
    display: grid;
    width: 1.625rem;
    height: 5rem;
    margin-top: -495px;
    margin-left: -108px;
    justify-items: center;
    align-content: space-between;
  }

.person_card {
    
    display: flex;
    grid-area: stack;
    margin-top: -820px;
    margin-left: 250px;
    width: 9.875rem;
    height: 10.938rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.35);
    z-index: 5;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.circle_avatar {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 8rem;
    background-color: None;
    margin-top: 1.156rem;
}

.card_text1 {
    font-family: "Poppins";
    font-size: 0.875rem;
    font-weight: 400;
    color: #161617;
    margin-top: 1.344rem;

}






.card_text2 {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    color: $color-white;
}

.person-card2__group {
  display: flex;
    margin-right: 18.46px;
    width: 6.9375rem;
    height: 4rem;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.person__card2 {
  grid-area: stack;
    display: flex;
    width: 19.063rem;
    height: 5.809rem;
    margin-top: -53px;
    margin-left: 68px;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.35);
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ppl_group {
    display: grid;
    width: 7.127rem;
    height: 2.764rem;
    justify-content: start;
    margin-left: 26.97px;
}

.ppl1 {
  display: flex;
    grid-area: stack;
    width: 2.764rem;
    height: 2.764rem;   
}

.ppl2 {
    display: flex;
    grid-area: stack;
    margin-left: 17.45px;
    width: 2.764rem;
    height: 2.764rem;
}

.ppl3 {
  display: flex;
    grid-area: stack;
    margin-left: 34.91px;
    width: 2.764rem;
    height: 2.764rem;
}

.ppl4 {
  display: flex;
    grid-area: stack;
    margin-left: 52.36px;
    width: 2.764rem;
    height: 2.764rem;
}

.ppl5 {
      width: 2.764rem;
    height: 2.764rem;
    display: flex;
    grid-area: stack;
    margin-left: 72.03px;
}

.ppl5::before {
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(242, 56, 73, 0.9);
  z-index: 1;
  border-radius: 100rem;
}

.number_ppl5 {
  position: absolute;
  font-family: "Ubuntu", Bold;
  font-size: 0.728rem;
  top: 0.982rem;
  left: 0.546rem;
  z-index: 2;
  color: $color-white;
}

.num {
  color: $color-white;
  font-family: "Ubuntu";
  font-weight: 700;
  width: 5.375rem;
  height: 2.125rem;
  font-size: 1.875rem;
}

.stars {
      margin-top: .215rem;
}

.red-circle{
    width: 2.764rem;
    height: 2.764rem;
}

.total {
  font-family: "Ubuntu", Regular;
  font-size: 0.875rem;
  color: $color-white;
}

.learn_more_button {
    position: absolute;
    height: 4.063rem;
    width: 12.5rem;
    background-color: $color-red;
    border-radius: 0.313rem;
    align-content: center;
    justify-items: center;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.learn_more_button:hover {
    background-color: #d12e3f;
}

.learn_more {
    font-family: "Ubuntu", Medium;
    font-size: 1.125rem;
    color: $color-white;
}





.warp2 {
    display: grid;
    @include container;
    height: 27.313rem;
    background-color: #222224;
    justify-content: center;
    align-items: center;
    justify-items: center;


}

.elipses__warp2{
    grid-area: stack;
}


.warp_block2 {
    grid-area: stack;
    width: 82.563rem;
    height: 14.375rem;
}



.warp_text2 {
    display: flex;
    width: 15.375rem;
    height: 13.25rem;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.line {
    position: absolute;
    width: 0;
    top: 4.938rem;
    height: 16.969rem;
    left: 73.281rem;
    border: 0.063rem solid #3D3D40;
}


.push {
    position: absolute;
    width: 26.688rem;
    height: 14rem;
    right: 0;
    top: 0;

}

.push_big {
    font-family: "Ubuntu", Bold;
    font-size: 2.875rem;
    color: $color-white;
    white-space: pre;
    line-height: 3.9rem;
    font-weight: 700;
}

.push_small {

    font-family: "Ubuntu", Regular;
    font-size: 1.125rem;
    color: $color-white;
    white-space: pre;
    line-height: 150%;
    margin-top: 1.25rem;
}

.warp_block_text2 {
    width: 51.688rem;
    height: 13.25rem;
    margin-top: 1rem;
    display: flex;
    gap: 2.813rem;
    justify-content: space-between;
}

.bigtext {
    position: absolute;
    height: 7.625rem;
    width: 15.375rem;
    display: flex;
    justify-content: center;
    top: 5.625rem;
}

.text_big2 {
    position: absolute;
    font-family: "Ubuntu", Bold;
    font-size: 1.25rem;
    color: $color-white;
    top: 0;
}

.text_small {
    position: absolute;
    font-family: "Ubuntu", Regular;
    font-size: 1rem;
    color: #EDEDED;
    top: 2.688rem;
    left: 0;
    line-height: 150%;
    height: 4.938rem;
    width: 15.375rem;

    text-align: center;
}

.workout_pic {
    width: 60px;
    height: 60px;

}




.warp3 {
    position: relative;
    width: 100%;
    height: 58.75rem;
    background-color: #28282A;

}

.text3 {
    width: 32rem;
    height: 21rem;
    position: absolute;
    left: 18.75rem;
    color: $color-white;
    top: 8.75rem;
}

.man3 {

    position: absolute;
    height: 45.4375rem;
    width: 41.25rem;
    left: 63.8125rem;
    top: 7.9375rem;

}

.info_block {
    position: absolute;
    width: 15rem;
    height: 6.25rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    top: 21.625rem;
    left: 59.875rem;
}

.info_block_big {
    position: absolute;
    top: 1.6875rem;
    left: 4.9375rem;
    font-size: 1.125rem;
    font-family: "Ubuntu", Regular;
    color: #28282A;
}

.info_block_small {
    position: absolute;
    top: 3.375rem;
    left: 4.9375rem;
    font-size: 0.625rem;
    font-family: "Ubuntu", Regular;
    color: #28282A;
}

.img_info {
    position: absolute;
    top: 1.4375rem;
    left: 1.125rem;

}

.info_block2 {
    position: absolute;
    width: 15rem;
    height: 6.25rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    top: 42.375rem;
    left: 74.75rem;
}

.info_block3 {
    position: absolute;
    width: 15rem;
    height: 6.25rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    top: 12.125rem;
    left: 90.3125rem;
}

.plus_circle {
    @include center;
    position: relative;
    background-color: $color-red;
    border-radius: 50%;
    width: 2.875rem;
    height: 2.8125rem;
    top: 45.6875rem;
    left: 97.5625rem;
}

.plus {
    width: 1.3125rem;
    height: 2.5625rem;
    left: 0.75rem;
    bottom: 0.3125rem;
    position: absolute;
    font-family: "Ubuntu", Regular;
    font-size: 2.25rem;
    color: $color-white;
}

.report {
    position: absolute;
    width: 32.6875rem;
    height: 16.1875rem;
    left: 18.75rem;
    top: 33.4375rem;
    border: 1px solid;
    border-image: linear-gradient(to bottom, $color-red, #28282A) 1;
}

.report_small {
    position: absolute;
    font-family: "Ubuntu", Medium;
    font-size: 1.125rem;
    color: $color-red;
    white-space: pre;
    line-height: 150%;
    left: 10.2813rem;
    top: 0.625rem;
}

.percent {
    position: relative;
    width: 25.1875rem;
    height: 16.1875rem;
    left: 3.75rem;

}

.percent1 {
    border-radius: .3125rem .3125rem 0 0;
    @include center;
    width: 4.375rem;
    height: 7.5625rem;
    background-color: rgba(141, 185, 140, 0.2);
}

.percent2 {
    border-radius: .3125rem .3125rem 0 0;
    @include center;
    width: 4.375rem;
    height: 10.125rem;
    background-color: rgba(110, 98, 215, 0.2);
}

.percent3 {
    border-radius: .3125rem .3125rem 0 0;
    @include center;
    width: 4.375rem;
    height: 8.3125rem;
    background-color: rgba(190, 111, 239, 0.2);
}

.percent4 {
    border-radius: .3125rem .3125rem 0 0;
    @include center;
    width: 4.375rem;
    height: 9.0625rem;
    background-color: rgba(243, 155, 69, 0.2);
}

.month {
    font-size: 1rem;
    font-family: "Ubuntu", Regular;
    color: #969696;
    margin-top: 0.6875rem;
}

.glav {
    display: flex;
    gap: 2.5625rem;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

.percent__text {
    @include center;
}

.About__side {
    position: absolute;
    width: 37.8125rem;
    height: 14.625rem;
    right: 93.1563rem;
    top: 22.4063rem;
    transform: rotate(-90deg);
}


.About-side__text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 12.75rem;
    line-height: 14.625rem;
    text-align: center;

    opacity: 0.1;
    -webkit-text-stroke: 1px $color-white;
}







.warp4 {
    position: relative;
    width: 100%;
    height: 31.25rem;
    background-color: #222224;
}

.elips6 {
    position: absolute;
    width: 0.606rem;
    height: 1.043rem;
    border-radius: 50%;
    background-color: #9757D7;
    top: 3.3125rem;
    left: 4.188rem;
    transform: rotate(-148.9deg);
}

.elips7 {

    position: absolute;
    width: 0.448rem;
    height: 0.771rem;
    left: 9.5rem;
    top: 21.5625rem;
    border-radius: 50%;
    background: #FFC737;
    transform: rotate(-148.9deg);


}

.elips8 {


    position: absolute;
    width: 1.176rem;
    height: 2.025rem;
    left: 47.438rem;
    top: 4.1875rem;
    border-radius: 50%;
    background: #45B26B;
    transform: rotate(-148.9deg);

}

.elips9 {
    position: absolute;
    width: 0.448rem;
    height: 0.771rem;
    left: 66.313rem;
    top: 27.1875rem;
    border-radius: 50%;
    background: #BC48F2;
    transform: rotate(-148.9deg);
}

.elips10 {


    position: absolute;
    width: 0.448rem;
    height: 0.771rem;
    left: 112.375rem;
    top: 16.0625rem;
    border-radius: 50%;
    background: #3772FF;
    transform: rotate(-148.9deg);

}


.ready {
    position: absolute;
    width: 25rem;
    height: 19.5625rem;
    left: 18.75rem;
    top: 5.8125rem;
    border-radius: .625rem;
    background-color: $color-red;
    justify-content: center;
    display: flex;
    padding-top: 2.3125rem;
}

.ready__text {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.7375rem;
    text-align: center;
    color: $color-white;
    top: 2.3125rem;
    height: 7.5rem;
    width: 19.6875rem;
}



.ready__button {
    position: absolute;
    width: 10rem;
    height: 3.4375rem;
    left: 7.5rem;
    top: 12.3125rem;
    background-color: $color-white;
    border-radius: 0.625rem;


}

.learn__about {
    position: absolute;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    color: $color-red;
    left: 1.75rem;
    top: 1rem;
    cursor: pointer;
}

.container {
    left: 52rem;
    top: 8rem;
    position: relative;
    width: 790px;
    height: 245px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-content: space-between;
}

.item {
    position: relative;
    left: 0;
    top: 0;
    width: 12.4375rem;
    height: 5.625rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.item__box {
    position: absolute;
    left: 0;
    border-radius: .5rem 1.25rem .5rem .5rem;
    width: 5.625rem;
    height: 5.625rem;
    background-color: #161617;
    @include center;
}

.item2 {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 11.9375rem;
    height: 5.625rem;

}

.item3 {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 13.5rem;
    height: 5.625rem;
}

.item4 {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 12rem;
    height: 5.625rem;

}

.item5 {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 13.0625rem;
    height: 5.625rem;

}

.item6 {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 13.5625rem;
    height: 5.625rem;

}

.item__text {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 1.5rem;
    color: $color-white;
    white-space: pre;
}

.warp5 {
    position: relative;
    width: 100%;
}

.play__button {
    position: absolute;
    top: 15.625rem;
    left: 55.3125rem;
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.play__button__external {
    width: 9.375rem;
    height: 9.375rem;
    background-color: rgba(196, 196, 196, 0.03);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: .0625rem solid rgba(255, 255, 255, 0.06);
}

.play__button__middle {
    width: 7.125rem;
    height: 7.125rem;
    background-color: rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: .0625rem solid rgba(255, 255, 255, 0.15);
}

.play__button__center {
    width: 5.625rem;
    height: 5.625rem;
    background-color: $color-white;
    border-radius: 50%;
}

.play__button__arrow {
    position: absolute;
    left: 4.1875rem;
    width: 1.5625rem;
    height: 1.8044rem;
    top: 3.8125rem;

}

.outline__img {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: -1.5494rem;
    rotate: 30deg;
    left: -3.4869rem;
}

.excercie {
    position: absolute;
    width: 17.8125rem;
    height: 4.0625rem;
    left: 83.5rem;
    top: 33.5625rem;
    display: flex;
}

.excercie1 {
    width: 13.4375rem;
    height: 4.0625rem;
    background-color: #222224;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.excercie2 {
    width: 4.375rem;
    height: 4.0625rem;
    background-color: $color-red;
    border-radius: 0 0.9375rem 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.excercie__arrow {
    width: 2.0625rem;
    height: 1.6938rem;
}

.excercie1__text {
    font-family: "Ubuntu";
    font-size: 1.125rem;
    font-weight: 300;
    color: $color-white;
    width: 11.25rem;
    height: 2.625rem;
}

.warp6 {
    position: relative;
    width: 100%;
    height: 62rem;
    background-color: #28282A;

}

.why__choose {
    position: relative;
    width: 35.625rem;
    height: 35.625rem;
    top: 5.0625rem;
}

.why__choose__text {
    width: 29.1875rem;
    height: 10.625rem;

}

.why__choose__block {
    position: relative;
    width: 35.625rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.why__choose__all {
    position: absolute;
    width: 35.625rem;
    height: 21.875rem;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.why__choose__block1 {
    width: 5rem;
    height: 5rem;
}

.why__choose__big {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-white;
}

.why__choose__small {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 500;
    color: #969696;
    line-height: 1.3rem;
}

.why__choose__text__block {
    width: 29.375rem;
    height: 5rem;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}


.all__block {
    width: 93.6875rem;
    height: 45.75rem;
    position: relative;
    top: 8.125rem;
    left: 18.6875rem;
    display: flex;
    justify-content: space-between;
}

.trainers {
    width: 42.4375rem;
    height: 45.75rem;
    position: absolute;
    left: 40.1875rem;
}

.click__trainer {
    position: absolute;
    top: 22.625rem;
    left: 19.5rem;
}

.eye {
    top: 32.6875rem;
    left: 29.1875rem;
    position: absolute;
}

.elips11 {
    position: absolute;
    width: 0.606rem;
    height: 1.043rem;
    border-radius: 50%;
    background-color: #9757D7;
    top: 45.0625rem;
    left: 101.9737rem;
    transform: rotate(-148.9deg);
}

.elips12 {

    position: absolute;
    width: 0.448rem;
    height: 0.771rem;
    left: 53.5rem;
    top: 23.0625rem;
    border-radius: 50%;
    background: #FFC737;
    transform: rotate(-148.9deg);


}

.elips13 {


    position: absolute;
    width: 1.176rem;
    height: 2.025rem;
    left: 23.4781rem;
    top: 7.4375rem;
    border-radius: 50%;
    background: #45B26B;
    transform: rotate(-148.9deg);

}

.elips14 {
    position: absolute;
    width: 0.448rem;
    height: 0.771rem;
    left: 9.5rem;
    top: 27.9375rem;
    border-radius: 50%;
    background: #BC48F2;
    transform: rotate(-148.9deg);
}

.elips15 {


    position: absolute;
    width: 0.448rem;
    height: 0.771rem;
    left: 13.3125rem;
    top: 41.1875rem;
    border-radius: 50%;
    background: #3772FF;
    transform: rotate(-148.9deg);

}

.left {
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    background-color: #222224;
    border-radius: 1.8125rem;
    left: 3.125rem;
    top: 42.875rem;
    @include center;
}

.right {
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    background-color: $color-white;
    border-radius: 1.8125rem;
    right: 26.8125rem;
    top: 42.875rem;
    @include center;
}

.arrow {
    position: absolute;
    top: .625rem;
}

.About__side2 {
    position: absolute;
    width: 44.3125rem;
    height: 3.75rem;
    left: 88.3438rem;
    top: 28.4063rem;
    transform: rotate(-90deg);
}


.About-side__text2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 204px;
    line-height: 60px;

    color: #28282A;
    opacity: 0.1;
    -webkit-text-stroke: 1px $color-white;

}







.warp7 {
    position: relative;
    width: 100%;
    height: 67.0625rem;
    background-color: #222224;

}

.punch__text {
    width: 36.6875rem;
    height: 11.125rem;
    position: absolute;
    left: 41.6875rem;
    top: 8.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.from__punch {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Work Sans";
    line-height: 4rem;
    color: $color-white;
    text-align: center;
}

.choice {
    position: absolute;
    width: 18.5rem;
    height: 2.5rem;
    top: 22.375rem;
    left: 53.0625rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.875rem;
    width: 1.875rem;
    left: .3125rem;
    bottom: .3125rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #09c677;
}

input:focus+.slider {
    box-shadow: 0 0 .0625rem #09c677;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.625rem);
    -ms-transform: translateX(1.625rem);
    transform: translateX(2.5rem);
}

.slider.round {
    border-radius: 2.125rem;
}

.slider.round:before {
    border-radius: 50%;
}

.text__choice {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Ubuntu";
    color: $color-white;
}

.discount {
    width: 4.375rem;
    height: 1.875rem;
    background-color: #343436;
    border-radius: .3125rem;
    @include center;
}



.discount__text {
    font-size: .75rem;
    font-family: "Ubuntu";
    color: #ffe24c;
    font-weight: 500;
}

.card1 {
    width: 52.3125rem;
    height: 32rem;
    border-radius: 1.5rem;
    background-color: #343436;
    position: absolute;
    left: 18.75rem;
    top: 28rem;
    z-index: 1;
}

.card2 {
    width: 27rem;
    height: 32rem;
    border-radius: 1.5rem;
    background-color: $color-red;
    position: relative;
    left: 74.3125rem;
    top: 28rem;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.card_choice__text1 {
    position: absolute;
    width: 10.375rem;
    height: 26.9375rem;
    left: 6.5625rem;
    top: 2.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.card_choice__text2 {
    position: absolute;
    width: 11.75rem;
    height: 26.9375rem;
    left: 34.0625rem;
    top: 2.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.card_choice__text3 {
    position: absolute;
    width: 11.75rem;
    height: 26.9375rem;
    top: 2.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;


}

.details1 {
    position: absolute;
    width: 10rem;
    border-radius: .3125rem;
    height: 3.4375rem;
    background-color: #222224;
    bottom: 0;
    @include center;
}

.details5 {
    position: absolute;
    width: 10rem;
    border-radius: .3125rem;
    height: 3.4375rem;
    background-color: $color-white;
    bottom: 0;
    @include center;
}

.details {
    font-size: 1.125rem;
    font-family: "Ubuntu";
    font-weight: 500;
    color: $color-white;
}

.details4 {
    font-size: 1.125rem;
    font-family: "Ubuntu";
    font-weight: 500;
    color: $color-red;
}

.details2 {
    border-radius: .3125rem;
    position: absolute;
    width: 10rem;
    height: 3.4375rem;
    background-color: #222224;
    left: 1rem;
    bottom: 0;
    @include center;
}

.standart {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: #969696;
    margin-bottom: 1.4375rem;
}

.expert {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: #e5e5e5;
    margin-bottom: 1.4375rem;
}

.price__big {
    font-size: 4.5rem;
    font-family: "Ubuntu";
    font-weight: 700;
    color: $color-white;
}

.price__small {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Ubuntu";
    color: #616161;
    text-decoration: line-through;
}

.price__small2 {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Ubuntu";
    color: #222224;
    text-decoration: line-through;
}

.price__text {
    width: 9.5rem;
    height: 6rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Ubuntu";
    color: #969696;
    text-align: center;
    line-height: 2rem;
    white-space: pre;
}

.price__text {
    width: 13.625rem;
    height: 12rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Ubuntu";
    color: #e5e5e5;
    text-align: center;
    line-height: 2rem;
    white-space: pre;
}

.details3 {
    border-radius: .3125rem;
    position: absolute;
    width: 10rem;
    height: 3.4375rem;
    background-color: $color-white;
    left: 0;
    bottom: 0;
    @include center;
}

.outline__img2 {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 23.9375rem;
    left: 94.375rem;
}

.outline__img3 {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 38.875rem;
    left: 64.125rem;
}





.warp8 {
    position: relative;
    width: 100%;
    height: 68.125rem;
    background-color: #28282A;
}

.warp8-text__all {
    position: absolute;
    width: 29.1875rem;
    height: 7.125rem;
    left: 45.4375rem;
    top: 7.5rem;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.warp8-text__big {

    width: 28.9375rem;
    height: 4rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Work Sans";
    line-height: 4rem;
    color: $color-white;
}

.warp8-text__small {
    width: 29.1875rem;
    height: 1.875rem;
    font-size: 1.125rem;
    font-family: "Ubuntu";
    line-height: 1.875rem;
    color: $color-white;
}

.trainer-background__first {
    position: absolute;
    width: 25rem;
    height: 24.5rem;
    top: 33.4375rem;
    left: 19.375rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: .9375rem 6.25rem .9375rem .9375rem;
    z-index: 1;
}

.trainer-bottom__first {
    position: absolute;
    width: 25rem;
    height: 8rem;
    top: 51.5625rem;
    left: 19.375rem;
    background-color: $color-white;
    border-radius: 0 0 .9375rem .9375rem;
    ;
    z-index: 2;
}

.trainer {
    position: absolute;
    width: 19.5625rem;
    height: 32.6875rem;
    left: 2.875rem;
    bottom: 6.375rem;
}

.trainer__text {
    position: absolute;
    width: 9.75rem;
    height: 3.9375rem;
    display: flex;
    left: 1.25rem;
    top: 1.875rem;
    flex-wrap: wrap;
}

.trainer-text__big {
    margin-top: 1.875rem;
    margin-left: 1.25rem;
    width: 4.125rem;
    height: 1.75rem;
    font-size: 1.5rem;
    line-height: auto;
    font-family: "Ubuntu";
    font-weight: bold;
    color: $color-red;


}

.trainer-text__small {
    width: 9.5625rem;
    height: 1.875rem;
    font-size: 1.125rem;
    font-family: "Ubuntu";
    color: $color-red;
    margin-top: .3125rem;
    margin-left: 1.4375rem;
    line-height: 1.875rem;
}


.trainer-bottom__icon {
    position: absolute;
    left: 20rem;
    top: 2.125rem;
}

.trainer-background__second {
    position: absolute;
    width: 25rem;
    height: 24.5rem;
    top: 33.4375rem;
    left: 75.75rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: .9375rem 6.25rem .9375rem .9375rem;
    z-index: 1;
}

.trainer-bottom__second {
    position: absolute;
    width: 25rem;
    height: 8rem;
    top: 51.5625rem;
    left: 75.75rem;
    background-color: $color-white;
    border-radius: 0 0 .9375rem .9375rem;
    ;
    z-index: 2;
}

.trainer2 {
    position: absolute;
    width: 24.75rem;
    height: 33.8125rem;
    left: .125rem;
    bottom: 6.375rem;
}

.trainer-text__big2 {
    margin-top: 1.875rem;
    margin-left: 1.875rem;
    width: 11.875rem;
    height: 1.75rem;
    font-size: 1.5rem;
    line-height: auto;
    font-family: "Ubuntu";
    font-weight: bold;
    color: $color-red;


}

.trainer-text__small2 {
    width: 9.5625rem;
    height: 1.875rem;
    font-size: 1.125rem;
    font-family: "Ubuntu";
    color: $color-red;
    margin-top: .3125rem;
    margin-left: 1.875rem;
    line-height: 1.875rem;
}


.trainer-background__third {
    position: absolute;
    width: 25rem;
    height: 24.5rem;
    top: 33.4375rem;
    left: 47.5625rem;
    background-color: rgba(242, 56, 73, 0.1);
    border-radius: .9375rem 6.25rem .9375rem .9375rem;
    z-index: 1;
}

.trainer-bottom__third {
    position: absolute;
    width: 25rem;
    height: 8rem;
    top: 51.5625rem;
    left: 47.5625rem;
    background-color: $color-red;
    border-radius: 0 0 .9375rem .9375rem;
    ;
    z-index: 2;
}

.trainer3 {
    position: absolute;
    width: 23.3125rem;
    height: 33.8125rem;
    left: .875rem;
    bottom: 6.375rem;
}

.trainer-text__big3 {
    margin-top: 1.875rem;
    margin-left: 1.875rem;
    width: 11.875rem;
    height: 1.75rem;
    font-size: 1.5rem;
    line-height: auto;
    font-family: "Ubuntu";
    font-weight: bold;
    color: $color-white;


}

.trainer-text__small3 {
    width: 9.5625rem;
    height: 1.875rem;
    font-size: 1.125rem;
    font-family: "Ubuntu";
    color: $color-white;
    margin-top: .3125rem;
    margin-left: 2.0625rem;
    line-height: 1.875rem;
}


.links {
    position: relative;
    width: 3rem;
    height: 10.125rem;
    top: 18.875rem;
    left: 68.9375rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.links_circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.0991);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline__img4 {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 53.6875rem;
    rotate: 90deg;
    left: 2.3125rem;
}

.elipses {
    position: absolute;
    left: 44.375rem;
    top: 8.5rem;
}

.warp9 {
    position: relative;
    width: 100%;
    height: 51.4375rem;
    background: #222224;
}

.happy__trainers {
    position: absolute;
    width: 44.125rem;
    height: 20rem;
    left: 57.3125rem;
    top: 22.4375rem;
}


.happy-text__all {
    position: absolute;
    width: 29rem;
    height: 24.125rem;
    left: 18.75rem;
    top: 20.875rem;
}

.happy-text__small {


    height: 7.5rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    color: $color-white;
}

.happy-text__box {
    position: absolute;
    width: 12rem;
    height: 1.75rem;
    top: 9.375rem;
}

.happy-text__bottom {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $color-red;
}


.links2 {
    position: relative;
    width: 10rem;
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    top: 6.125rem;
    justify-content: space-between;
}

.links_circle2 {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.0991);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Tamas {
    position: absolute;
    left: 54.25rem;
    top: 20.875rem;
}

.About__side {
    position: absolute;
    width: 37.8125rem;
    height: 14.625rem;
    right: 93.1563rem;
    top: 22.4063rem;
    transform: rotate(-90deg);
}


.About-side__text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 12.75rem;
    line-height: 14.625rem;
    text-align: center;
    color: #222224;
    opacity: 0.05;
    -webkit-text-stroke: 1px $color-white;
}

.warp10 {
    position: relative;
    width: 100%;
    height: 14.375rem;
    background: #28282A;

}

.warp10__block {
    position: relative;
    width: 16.4375rem;
    height: 4.375rem;
    top: 5rem;
    left: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sports__big {
    height: 1.4375rem;
    margin-top: .375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: $color-white;
    margin-bottom: .3125rem;
}

.sports__small {
    height: 1.875rem;
    margin-bottom: .375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.875rem;
    color: $color-white;
}

.warp10__block2 {
    left: 50.625rem;
    position: absolute;
    width: 16.4375rem;
    height: 4.375rem;
    top: 5rem;
    display: flex;
    align-items: center;
}




.sports__big2 {
    height: 1.4375rem;
    margin-top: .375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: $color-white;
    margin-bottom: .3125rem;
    margin-left: 1.1456rem;
}

.sports__small2 {
    height: 1.875rem;
    margin-bottom: .375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.875rem;
    color: $color-white;
    margin-left: 1.2706rem;
}

.warp10__block3 {
    position: absolute;
    left: 82.375rem;
    width: 16.4375rem;
    height: 4.375rem;
    top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sports__big3 {

    height: 1.4375rem;
    margin-top: .375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    color: $color-white;
    margin-bottom: .3125rem;
}

.sports__small3 {
    height: 1.875rem;
    margin-bottom: .375rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.875rem;

    color: $color-white;
}



.warp11 {
    position: relative;
    width: 100%;
    height: 32.5rem;
    background-color: #222224;
}

.warp11__glav {
    position: relative;
    width: 49.5625rem;
    height: 17.875rem;
    left: 35.25rem;
    top: 7.5rem;
    display: flex;
    justify-content: center;
}

.warp11-glav__bigtext {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
    color: $color-white;
}

.warp11-glav__big {
    width: 19.1875rem;
    height: 4rem;
    top: 0;
    position: absolute;
}


.warp11-glav__smalltext {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;

    color: $color-white;
}

.warp11-glav__small {
    width: 49.5625rem;
    height: 5.625rem;
    position: absolute;
    top: 5.25rem;
}

.warp11_email {
    position: absolute;
    width: 26.875rem;
    height: 3.75rem;
    background: #28282A;
    border-radius: .3125rem;
    border: 0;
    padding-left: 1.25rem;
}

.warp11_email::placeholder {
    color: #969696;
    font-size: 1rem;
    font-family: "Ubuntu";
}


.warp11-email__button {
    position: absolute;
    right: 0;
    width: 5rem;
    height: 3.75rem;
    background: $color-red;
    border-radius: 5px;
    cursor: pointer;

}

input[type="email"] {
    color: red;
    font-size: .9375rem;
}

.form__class {
    position: absolute;
    width: 26.875rem;
    height: 3.75rem;
    left: 11.3125rem;
    top: 14.125rem;
}

.loop {
    position: absolute;
    left: 23.75rem;
    top: 1.3125rem;
}

.warp11_back {
    position: absolute;
    width: 27.9063rem;
    height: 34.6412rem;
    top: 3.7363rem;
    left: 18.9606rem;
    transform: rotate(120deg);
    z-index: 2;
}


.warp12 {
    position: relative;
    width: 100%;
    height: 575px;
    background: #28282A;
}

.gantelya2 {
    position: absolute;
    width: 6.25rem;
    height: 3.125rem;
    top: 5.625rem;
    left: 18.75rem;
}

.last-text__box1 {
    width: 17.9375rem;
    height: 5.625rem;
    position: relative;
    top: 10rem;
    left: 18.75rem;
}

.warp11__block1 {
    position: absolute;
    width: 9.9375rem;
    height: 2.625rem;
    top: 18.75rem;
    left: 18.75rem;
    display: flex;
    align-items: center;
}

.phone {
    font-size: 1rem;
    font-family: "Ubuntu";
    line-height: 1.3rem;
    color: #969696;
    white-space: pre;
    margin-left: 1.2631rem;
}

.warp11__block2 {
    position: absolute;
    width: 9.9375rem;
    height: 1.3125rem;
    top: 23.25rem;
    left: 18.8125rem;
    display: flex;
    align-items: center;
}

.phone {
    font-size: 1rem;
    font-family: "Ubuntu";
    line-height: 1.3rem;
    color: #969696;
    white-space: pre;
    margin-left: 1.2631rem;
}

.warp11__block3 {
    position: absolute;
    width: 11.625rem;
    height: 2.625rem;
    top: 26.4375rem;
    left: 18.9375rem;
    display: flex;
    align-items: center;
}

.phone {
    font-size: 1rem;
    font-family: "Ubuntu";
    line-height: 1.3rem;
    color: #969696;
    white-space: pre;
    margin-left: 1.2631rem;
}
